.game-hud {
    box-sizing: border-box;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.game-hud .top-bar {
    background-color: #171717;
    box-sizing: border-box;
    color: #fff;
    padding: 0 16px 0 4px;
    position: relative;
    width: 100%;
    z-index: 201;
}

.game-hud .top-bar .hamburger-btn {
    float: left;
    transition: opacity 0.3s;
}

.game-hud .top-bar .hamburger-btn:hover {
    opacity: 0.7;
}

.game-hud .top-bar .game-level {
    float: left;
    padding-left: 12px;
}

.game-hud .top-bar .top-bar-text {
    align-items: center;
    display: inline-flex;
    height: 48px;
}

.game-hud .top-bar .moves-taken {
    float: right;
}
