@use "../../styles/colors";
@use "../../styles/sizes";
@use "sass:color";

.level-select {
    animation: simple-fade-in 1s;
    background-color: color.scale(colors.$menu-bg, $lightness: 10%);
    height: 100vh;
    position: relative;

    .level-select-main {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        grid-template: "levels preview";
        justify-content: space-between;
        height: calc(100vh - #{sizes.$top-bar-height});
        top: sizes.$top-bar-height;
        overflow: hidden;
        position: relative;
    }
}


@media only screen and (max-width: sizes.$window-sm) {
    .level-select .level-select-main {
        display: none;
    }
}
