@use "../../styles/colors";
@use "sass:color";

.level-select {
    animation: simple-fade-in 1s;
    background-color: color.scale(colors.$menu-bg, $lightness: 10%);

    .level-select-main {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        grid-template: "levels preview";
        justify-content: space-between;
        height: calc(100vh - 48px);
        overflow-x: hidden;
        overflow-y: auto;
    }
}
