.top-bar.game-top-bar {
    z-index: 700;

    .hamburger-btn {
        float: left;

        &:hover {
            opacity: 0.7;
        }
    }

    .game-level {
        float: left;
        padding-left: 12px;

        .top-bar-text {
            font-size: 16px;
            font-weight: 600;
            margin: 0;
        }
    }

    .moves-taken {
        float: right;
    }
}

@media only screen and (max-width: 400px) {
    .game-level {
        display: none;
    }
}
