@use "../../styles/colors";

.tile-grid {
    background-color: colors.$game-bg;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: relative;
    touch-action: none;
    width: 100%;
    z-index: 50;

    &.grid-dragging {
        cursor: move;
    }
}

// Fix cursor when hovering over tile
.tile-grid.grid-dragging .tile .tile-hover:hover {
    cursor: move;
}
