$default: #ddd;
$black: #171717;
$blue: #62afd0;
$dark: #333;
$green: #90be6d;
$orange: #f9844a;
$purple: #916fb3;
$red: #e25255;
$yellow: #f9c74f;

$game-bg: #ced8f3;
$game-won-bg: #acc2ff;
$menu-bg: #333c54;
$menu-highlight: #f7c761;
$select-color: #1f9494;
