// Default tile sizes
$tile-size: 48px;
$solution-tile-size: 20px;

// Window sizes
$window-sm: 540px;
$window-lg: 992px;
$window-xl: 1200px;

// Game
$game-md-width: 640px;

// Level preview
$preview-width: 300px;
$preview-lg-width: 400px;
$preview-xl-width: 450px;
// Top menu
$top-bar-height: 48px;
