// Tile sizes
$tile-size: 48px;
$solution-tile-size: 20px;

// Level preview
$preview-width: 300px;
$preview-lg-width: 400px;
$preview-xl-width: 450px;

// Window sizes
$window-lg: 992px;
$window-xl: 1200px;
