@use "../../styles/colors";
@use "../../styles/sizes";
@use "../../styles/functions";
@use "sass:color";

.instructions {
    animation: simple-fade-in 1s;
    background-color: colors.$menu-bg;
    display: none;
    min-height: 100vh;
    position: relative;

    &.instructions-enabled {
        display: block;
    }

    .top-bar.instructions-top-bar {
        padding: 0 16px;
        z-index: 1001;

        .back-btn {
            background-color: transparent;
            border: none;
            color: #fff;
            float: left;
            font-size: 24px;
            padding: 0;

            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }

        .level-select-title {
            float: left;
            padding-left: 28px;

            .top-bar-text {
                font-size: 16px;
                font-weight: 600;
                margin: 0;
            }
        }
    }

    .instructions-main {
        padding: 10px 0 58px;
        position: relative;
        top: sizes.$top-bar-height;
        user-select: text;

        .instructions-section {
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            box-sizing: border-box;
            color: #fff;
            margin: 0 auto;
            padding: 20px 30px;
            width: calc(100% - 20px);

            h2 {
                color: #fff;
                font-family: functions.sans-serif-family(Nunito);
                font-size: 24px;
                font-weight: 700;
                margin: 1.5em 0 0.5em;

                &:first-child {
                    margin-top: 0.5em;
                }

                & + h3 {
                    margin-top: 1em;
                }
            }

            h3 {
                color: #fff;
                font-family: functions.sans-serif-family(Nunito);
                font-size: 18px;
                font-weight: 600;
                margin: 1.5em 0 0.5em;
            }

            p {
                margin: 0.5em 0;
            }

            .highlight {
                color: colors.$menu-highlight;
            }

            .table-container {
                overflow: auto;
                width: 100%;
                margin-bottom: 1em;
            }

            ul {
                margin: 0.5em 0;
            }

            li {
                margin-bottom: 0.5em;
            }

            table {
                border-collapse: collapse;
                width: 100%;

                td, th {
                    padding: 5px 5px;
                    text-align: left;
                    vertical-align: top;

                    &:first-child {
                        white-space: nowrap;
                    }
                }

                th {
                    font-family: functions.sans-serif-family(Nunito);
                    font-weight: 600;
                }

                td {
                    padding-right: 10px;

                    &:last-child {
                        padding-right: 0;
                    }
                }

                thead tr {
                    border-bottom: 2px solid #fff;
                }

                thead tr, tbody tr:nth-child(even) {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }

        h2, h3, p, th, td, em, li {
            &::selection {
                background-color: colors.$select-color;
            }
        }
    }
}

@media only screen and (max-width: 540px) {
    .instructions .instructions-main .instructions-section table {
        th, td {
            &:first-child {
                white-space: normal;
            }
        }
    }
}
