@use "../../styles/colors";

.game {
    animation: simple-fade-in 1s;
    background-color: colors.$game-won-bg;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    width: 100vw;
}

.game.game-won {
    .tile-grid, .solution-container {
        opacity: 0;
        transition: opacity 1.5s;
    }
}
