.tile {
    height: 48px;
    position: absolute;
    width: 48px;
}

.tile .tile-front {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.tile .tile-back {
    background-color: #171717;
    height: 120%;
    left: -10%;
    position: absolute;
    top: -10%;
    width: 120%;
    z-index: 1;
}
