.tile {
    height: 48px;
    position: absolute;
    width: 48px;
}

.solution .tile {
    height: 20px;
    width: 20px;
}

.tile .tile-front {
    height: 100%;
    position: absolute;
    transition: background-color .4s ease-out 0.15s;
    width: 100%;
    z-index: 2;
}

.tile .tile-solution {
    height: 100%;
    position: absolute;
    transition: opacity .4s ease-out;
    width: 100%;
    z-index: 3;
}

.tile .tile-back {
    background-color: #171717;
    border-radius: 4px;
    height: 120%;
    left: -10%;
    position: absolute;
    top: -10%;
    width: 120%;
    z-index: 1;
}

.solution .tile .tile-back {
    border-radius: 2px;
    height: 125%;
    left: -12.5%;
    top: -12.5%;
    width: 125%;
}
