@use "../../styles/colors";
@use "../../styles/sizes";
@use "../../styles/functions";
@use "sass:color";

$preview-transition-time: 0.75s;

@mixin preview-media($screen-width, $preview-width, $td-size) {
    @media only screen and (min-width: $screen-width) {
        .level-select .level-select-main.level-selected .level-preview {
            width: $preview-width;

            table {
                td:first-child {
                    width: $td-size;
                }
            }
        }
    }
}

.level-select-main {
    .level-preview {
        background-color: colors.$menu-bg;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        color: #fff;
        grid-area: preview;
        place-self: end center;
        padding: 10px 20px;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        transform: translateX(sizes.$preview-width);
        transition: width $preview-transition-time,
            transform $preview-transition-time,
            box-shadow $preview-transition-time;
        width: sizes.$preview-width;

        .locked-box {
            font-size: 60px;
            height: 250px;
        }

        h2, h3 {
            font-family: functions.sans-serif-family(Nunito);
            font-weight: 700;
        }

        h2 {
            font-size: 20px;
            margin: 10px 0 5px;
        }

        h3 {
            font-size: 18px;
            margin: 4px 0;
        }

        p {
            margin: 5px 0 8px;
        }
    }

    &.level-selected {
        .level-preview {
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
            transform: translateX(0);
        }
    }
}

@include preview-media(sizes.$window-lg, sizes.$preview-lg-width, 80px);
@include preview-media(sizes.$window-xl, sizes.$preview-xl-width, 100px);
