@use "../../styles/colors";
@use "../../styles/sizes";
@use "../../styles/functions";
@use "sass:color";

$solution-color: #ebde6e;
$target-text-height: 28px;

.game .solution-container {
    border: 4px solid colors.$black;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 0 0 auto;
    position: absolute;
    right: 4px;
    touch-action: none;
    top: 4px + sizes.$top-bar-height;
    z-index: 100;

    .solution {
        background-color: color.scale($solution-color, $lightness: 90%);
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        width: 100%;

        &:hover {
            cursor: move;
        }
    }

    .solution-target-text {
        background-color: $solution-color;
        border-bottom: 2px solid colors.$black;
        box-sizing: border-box;
        color: colors.$black;
        display: block;
        font-family: functions.sans-serif-family(NunitoSans);
        font-weight: 700;
        height: $target-text-height;
        padding: 2px 10px;

        &.solution-draggable:hover {
            cursor: move;
        }
    }
}

@media only screen and (max-width: sizes.$game-md-width) {
    .game .solution-container {
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top: 7px solid colors.$black;
        border-radius: 0;
        grid-area: solution;
        position: relative;
        right: 0;
        touch-action: none;
        top: 0;
        width: 100%;

        .solution {
            height: calc(100% - #{$target-text-height});
            width: 100%;
        }

        .react-resizable-handle-n {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAALCAYAAAATD/9GAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAMUlEQVQ4EWNgGAWjIUDbEGD8//+/O22tIM90kMM+kqeVtrpADrOgrRWjpo+GwOAMAQBSIwprdT3GHwAAAABJRU5ErkJggg==);
            background-position: center;
            background-size: auto;
            height: 36px;
            top: -20px;
            transform: none;
        }
    }
}
