// Variables, functions, animations, etc.
@use "./styles/colors";
@use "./styles/fonts";
@use "./styles/sizes";
@use "./styles/animations";
@use "./styles/loading";
@use "./styles/functions";

// Shared styles
@use "./styles/common/adjust-menu";
@use "./styles/common/top-menu-bar";
@use "./styles/common/level-select";

@use "sass:color";

$color-map: (
    "blue": colors.$blue,
    "green": colors.$green,
    "orange": colors.$orange,
    "purple": colors.$purple,
    "red": colors.$red,
    "yellow": colors.$yellow
);

body {
    background-color: colors.$black;
    margin: 0;
    font-family: functions.sans-serif-family(NunitoSans);
    font-size: 16px;
    user-select: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.bg-default {
    background-color: colors.$default;
}

.bg-default.alt {
    background-color: color.scale(colors.$default, $lightness: 50%);
}

.bg-dark {
    background-color: colors.$dark;
}

.bg-dark.alt {
    background-color: color.scale(colors.$dark, $lightness: 10%);
}

@each $name, $col in $color-map {
    .bg-#{$name} {
        background-color: $col;
    }

    .bg-#{$name}.alt {
        background-color: color.scale($col, $lightness: 25%);
    }
}

// Scrollbars
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #333;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border: 1px solid #666;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

// React resizable
.react-resizable-handle {
    z-index: 300;
}
