@use "./styles/colors";
@use "./styles/fonts";
@use "./styles/functions";
@use "sass:color";

$color-map: (
    "blue": colors.$blue,
    "green": colors.$green,
    "orange": colors.$orange,
    "purple": colors.$purple,
    "red": colors.$red,
    "yellow": colors.$yellow
);

body {
    background-color: colors.$black;
    margin: 0;
    font-family: functions.sans-serif-family(NunitoSans);
    font-size: 16px;
    user-select: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.bg-default {
    background-color: colors.$default;
}

.bg-default.alt {
    background-color: color.scale(colors.$default, $lightness: 50%);
}

@each $name, $col in $color-map {
    .bg-#{$name} {
        background-color: $col;
    }

    .bg-#{$name}.alt {
        background-color: color.scale($col, $lightness: 25%);
    }
}

// For menus
.top-bar {
    background-color: colors.$black;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 0 16px 0 4px;
    width: 100%;

    .top-bar-text {
        align-items: center;
        display: inline-flex;
        height: 48px;
    }
}

// Scrollbars
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #333;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border: 1px solid #666;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}
