body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.bg-default {
    background-color: #ddd;
}

.bg-default.alt {
    background-color: #eee;
}

.bg-blue {
    background-color: #62afd0;
}

.bg-blue.alt {
    background-color: #85bed6;
}

.bg-green {
    background-color: #90be6d;
}

.bg-green.alt {
    background-color: #a7c98e;
}

.bg-orange {
    background-color: #f9844a;
}

.bg-orange.alt {
    background-color: #f49e73;
}

.bg-purple {
    background-color: #916fb3;
}

.bg-purple.alt {
    background-color: #a78ec1;
}

.bg-red {
    background-color: #f94144;
}

.bg-red.alt {
    background-color: #f56e70;
}

.bg-yellow {
    background-color: #f9c74f;
}

.bg-yellow.alt {
    background-color: #f5cf76;
}
